body{
  min-width: 960px;
  background: #ececec url(../../assets/img/bg.png) center 0 repeat-y;
  /*background: #fff url(../img/all.png) center 0 no-repeat;*/
  @include font-normal;
}

.page{
  @include outer-container;
  section{
    @include row();
    .column1{
      margin-top: 0.4em;
      @include span-columns(6);
    }
    .column2{
      margin-top: 3.05em;
      @include span-columns(6);
    }
  }
}
