/*bourbon overrides*/
$visual-grid: true;
$max-width: 960px;

$color-header-gray: #2d2d2d;
$color-white: white;
$color-yellow: #ffe300;
$color-link: #373737;
$color-text-black: #262626;

$duration: 0.2s;
