html,body{min-height:100%;}
body:after{
  content: '';
  opacity: 0.2;
  display: block;
  position: absolute;
  pointer-events: none;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background: #fff url(../img/all.png) center 0 no-repeat;
}

